<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmput301.cia">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HistoryActivity" />
        <activity
            android:name=".activities.FilterEventsActivity"
            android:label="@string/title_activity_filter_events"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activities.HomePageActivity" />
        <activity android:name=".activities.CreateHabitActivity"></activity>
        <activity android:name=".activities.CreateHabitEventActivity"></activity>
    </application>

</manifest>